*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: #fff;
    color: #555;
    font-size: 62.5%;
    font-weight: 300;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}


.row {
    max-width: 1140px;
    
    /* To center content */
    margin: 0 auto;
}

header {
    /* Hero image centered and fills whole viewport */
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/waiheke-island-hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1, h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 4.8rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
}


h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}


.btn:link, 
.btn:visited  {
    display: inline-block;
    padding: 1rem 3rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    color: #fff;  
}


.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border-radius: 10rem;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}